src/main/resources/PostUser/xsd/PostUser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:element name="user">  
	<xs:complexType>
		<xs:all>
			<!-- <xs:element name="number" />  -->
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="lastname" type="xs:string" minOccurs="0" />
			<xs:element name="email" type="xs:string" />
			<xs:element name="instancename" type="xs:string" />
		</xs:all> 
	</xs:complexType>
</xs:element>

</xs:schema>