src/main/resources/PostIafTag/xsd/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="iaftag">  			
	<xs:complexType>
		<xs:sequence>
			<xs:element name="classname" type="xs:string" />
			<xs:element name="thetag" type="xs:string" />
			<xs:element name="thedate" type="xs:integer" />
		</xs:sequence> 
	</xs:complexType>		
</xs:element>
</xs:schema>