src/main/resources/Login/xsd/input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="logindetails">
    <xs:complexType>
      <xs:all>
      	<xs:element type="xs:string" name="instancename"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="password"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>