src/main/resources/Login/xsd/outputOk.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="loginDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="AccessToken"/>
        
        <xs:element name="User">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" minOccurs="0" name="name"/>
              <xs:element type="xs:string" minOccurs="0" name="lastname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>